.game-grid {
  row-gap: 2px;
  column-gap: 2px;
}

.cell {
  height: 40px;
  border: 1px, solid, black;
  cursor: pointer;
}

.dead {
  background-color: gray;
}

.alive {
  background-color: white;
}